In [ ]:
import pandas as pd 

df=pd.read_csv("irisDataset.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

LabelEncoder :
blue =>0
red =>1
yellow=>2
precision non 
OneHotEncoder , pd.getdummies:
blue =>[0,0,1]
red =>[0,1,0]
yellow=>[1,0,0]
binaire 
precision :oui

In [ ]:
df.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le =LabelEncoder()
df['species']=le.fit_transform(df['species'])
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

cas valeur nul:
methode1:
df[['col_name']].dropna(axis=0,inplace=True)
methode2:
df.dropna(axis=0, inplace="True")
methode3:
df["col_name"].fillna(df['col_name].mean(),inplace=True)
or 
df["col_name"]=df["col_name"].fillna(df['col_name].mean())

In [ ]:
X=df.loc[: , ['sepal_length','sepal_width','petal_length','petal_width']]
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
Y=df.loc[:,['species']]
Y

     species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train ,x_test , y_train ,y_test =train_test_split(X,Y)

In [ ]:
x_train.head()

     sepal_length  sepal_width  petal_length  petal_width
51            6.4          3.2           4.5          1.5
124           6.7          3.3           5.7          2.1
101           5.8          2.7           5.1          1.9
106           4.9          2.5           4.5          1.7
23            5.1          3.3           1.7          0.5

In [ ]:
from sklearn.svm import SVC

In [ ]:
model = SVC()

In [ ]:
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
model.score(x_test,y_test)

0.9210526315789473

In [ ]:
y_pred =model.predict(x_test)

In [ ]:
y_pred

array([1, 2, 2, 1, 1, 0, 0, 0, 2, 0, 0, 0, 2, 1, 0, 2, 2, 2, 2, 0, 1, 2,
       2, 2, 0, 0, 1, 2, 1, 0, 1, 0, 2, 2, 2, 2, 2, 0])

In [ ]:
y_test

     species
126        2
104        2
125        2
85         1
81         1
44         0
15         0
26         0
145        2
37         0
32         0
43         0
110        2
123        2
28         0
135        2
122        2
115        2
111        2
13         0
60         1
147        2
136        2
144        2
42         0
36         0
119        2
103        2
98         1
10         0
73         1
38         0
148        2
107        2
118        2
134        2
116        2
45         0